<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="PATHMODELBASE" value="C:\RepositorioBase\SGCApp\modelos\dbtools.xml" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="DBACTIVECON" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DbMaze;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add name="THUNDERCONNECT" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBPLIVN;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add name="DEVMYSQLCONNECT"
				   providerName="mysql.data.mysqlclient"
				   connectionString="Server=192.168.101.6;Port=3306;Database=cli;Uid=agostinho;Pwd=iDn259EBzSYPPX8t"/>
		<!--	<add name="CSGVCONNECT"
		 providerName="mysql.data.mysqlclient"
		 connectionString="Server=192.168.101.6;Port=3306;Database=cli;Uid=agostinho;Pwd=iDn259EBzSYPPX8t"/>
-->
		<!--<add name="DEVMYSQLCONNECT" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.100.10;Port=3306;Database=DEV;Uid=user-migrar;Pwd=^mJtnUW$%6DwR#D13Z4" />-->
		<add name="CSGVCONNECT" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.100.10;Port=3306;Database=CLI;Uid=user-migrar;Pwd=XUyRWOaITQHpZejS" />
		<add name="CSGVLAB" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.101.6;Port=3306;Database=lab;Uid=agostinho;Pwd=iDn259EBzSYPPX8t" />
		<!--<add name="CSGVCONNECT" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.100.10;Port=3306;Database=CLI;Uid=agostinho;Pwd=iDn259EBzSYPPX8t" />-->
		<!-- <add name="CSGVCONNECT" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.101.6;Port=3306;Database=CLI;Uid=user-migrar;Pwd=^mJtnUW$%6DwR#D13Z4" />-->
		<!--<add name="CSGVCONNECT" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.101.6;Port=3306;Database=cli;Uid=user-migrar;Pwd=^mJtnUW$%6DwR#D13Z4" />
		-->
		<add name="DWCONNECT" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.100.10;Port=3306;Database=DW;Uid=user-migrar;Pwd=^mJtnUW$%6DwR#D13Z4" />
		<add name="DWCONNECTSQL" connectionString="Server=192.168.101.14;Database=DW;User Id=admin;Password=A6cxFP93o8Bt4vgsXu;MultipleActiveResultSets=True" />
		<add name="SCVCONNECT" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SCV;Integrated Security=True;Connect Timeout=30;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add name="MDCONNECTSQL" connectionString="Server=192.168.101.14;Database=MOVIDESK;User Id=admin;Password=A6cxFP93o8Bt4vgsXu;MultipleActiveResultSets=True" />
		<add name="IMPCONNECTSQL" providerName="mysql.data.mysqlclient" connectionString="Server=192.168.101.6;Port=3306;Database=ENTIMP;Uid=agostinho;Pwd=iDn259EBzSYPPX8t" />


		<!--<add name="COMCONNECT_DEV" connectionString="Data Source=GPCNB-TI09\SQLEXPRESS;Initial Catalog=COMISSIONS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
		<!--<add name="COMCONNECT_DEV" connectionString="Server=192.168.101.6;Database=COMISSIONS;User Id=sa;Password=Tcpo7#by8ob!;MultipleActiveResultSets=True" />-->
		<add name="COMCONNECT_DEV" connectionString="Server=192.168.101.14;Database=COMISSIONS;User Id=admin;Password=A6cxFP93o8Bt4vgsXu;MultipleActiveResultSets=True" />
		<add name="DLCONNECT" connectionString="Server=192.168.101.12;Database=DL;User Id=sa;Password=f9hpuj8@$Q7#;MultipleActiveResultSets=True" />

		<add name="CEPCONNECT" connectionString="Server=192.168.101.14;Database=CEP;User Id=admin;Password=A6cxFP93o8Bt4vgsXu;MultipleActiveResultSets=True" />
		<add name="SOLLUSCONNECT" connectionString="Server=192.168.101.14;Database=SOLLUS;User Id=admin;Password=A6cxFP93o8Bt4vgsXu;MultipleActiveResultSets=True" />
		<add name="RHCONNECT" connectionString="Server=192.168.101.12;Database=dwrh;User Id=sa;Password=f9hpuj8@$Q7#;MultipleActiveResultSets=True" />
		<add name="WEBFORMCONNECT" connectionString="Server=192.168.101.14;Database=WEBFORMS;User Id=admin;Password=A6cxFP93o8Bt4vgsXu;MultipleActiveResultSets=True" />
		<add name="DBADMCONNECT" connectionString="Server=192.168.101.14;Database=DBPADM;User Id=admin;Password=A6cxFP93o8Bt4vgsXu;MultipleActiveResultSets=True" />


		<!--<add name="DBACTIVECON" connectionString="Data Source=54.233.104.181;Integrated Security=False;Initial Catalog=DBPLIVN;User ID=sql_agostin;Password=silverroad@386;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->
		<!--<add name="DBACTIVECON" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\SQLDB\DBDLIVN.mdf;Integrated Security=True;Connect Timeout=30"/>-->
		<!--<add name="MSACTIVECON1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Persist Security Info=False;"/>
    <add name="z1DBACTIVECON" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\GOLDENEAGLE\GOLDENEAGLE.MDF;Integrated Security=True;Connect Timeout=30"/>
    <add name="AMAZECON" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Mazefire\Data\DBDMZF.mdf;Integrated Security=True;Connect Timeout=30"/>    
    <add name="zDBACTIVECON" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=dbdlivn;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
    <add name="X1DBACTIVECON" connectionString="Data Source=54.233.104.181;Integrated Security=False;Initial Catalog=DBPLIVN;User ID=sql_agostin;Password=silverroad@386;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="xDBACTIVECON" connectionString="Data Source=54.233.104.181;Integrated Security=False;Initial Catalog=DBDLIVN;User ID=sql_agostin;Password=silverroad@386;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="HMLDBCON" connectionString="Data Source=54.233.104.181;Integrated Security=False;Initial Catalog=DBDLIVN;User ID=sql_agostin;Password=silverroad@386;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="SRCDBCON" connectionString="Data Source=54.233.104.181;Integrated Security=False;Initial Catalog=sis_tecus;User ID=sql_agostin;Password=silverroad@386;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="DBIMP" connectionString="Data Source=54.233.104.181;Integrated Security=False;Initial Catalog=DB_IMP;User ID=sql_agostin;Password=silverroad@386;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->
	</connectionStrings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>